<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EndpointUri" value="https://matejgros.documents.azure.com:443/" />
		<add key="PrimaryKey" value="Q81VjNyyQVrnLsFQAFdtNIVOKAQNvtWfnZakk2tza63x5Y1ixPDPCT6B1cdUpBvJlp14doz6t52kACDb4P4BvA==" />
		<add key="DatabaseName" value="ysoft" />
		<add key="ContainerName" value="ysoft_con" />
	</appSettings>
</configuration>