<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EndpointUri" value="https://matejgros.documents.azure.com:443/" />
		<add key="PrimaryKey" value="JyWaRohZpb39OzO4z6VbVNrN16EKK1WkN6yCdP5OXjD9h9IWP1iIvHRbcI5UJn8YJsJmapJpd97HACDbtulQyg==" />
		<add key="DatabaseName" value="ysoft" />
		<add key="ContainerName" value="ysoft_con" />
	</appSettings>
</configuration>